/* yourStyles.css */

.custom-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.custom-card:hover {
  transform: scale(1.05);
}

.card-img-wrapper {
  height: 150px; /* Adjust as needed */
  overflow: hidden;
}

.card-img {
  height: 100%;
  object-fit: cover;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-nim {
  font-size: 0.9rem;
  color: #555;
}

.card-position {
  font-size: 0.8rem;
  color: #888;
  margin-bottom: 12px;
}
